docs
node_modules/
secrets
.github
.build-cache
.cache/
src/webui/build/
src/webui/public/build/
.env
gen/ts/webapi-client/dist/


.build-cache/
# node_modules/
.mypy_cache/
__pycache__/
.git

.system.lock
.idea
.vscode
.DS_Store
.gitignore
secrets.info
