__pycache__/
node_modules/
secrets
.system.lock
.idea
.vscode
.DS_Store
.mypy_cache
site
.coverage
.build-cache/
buildinfo/current
.cache/
src/webui/build/
src/webui/public/build/
.env
gen/ts/webapi-client/dist/
.sqlite
session-info
.ruff_cache/