git+https://github.com/horia141/notion-py@dont-update-views#egg=notion
PyYAML==5.4
pendulum==2.0.5
python-dotenv==0.14.0
pytz==2018.7
jsonschema==3.2.0
requests==2.26
coloredlogs==14.0
SQLAlchemy==1.4.0b3
alembic==1.5.5
icecream==2.1.0
emoji==1.6.3
