---
name: Release

"on":
  push:
    tags:
      - v*

jobs:
  linter:
    name: Linter
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Prepare for CI
        run: sudo ./scripts/setup-for-ci.sh
      - name: Lint scripts
        run: ./scripts/lint.sh
  publish_to_docker:
    name: Publish To Docker
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build the docker image
        run: ./scripts/docker-build.sh
      - name: Publish the docker image
        run: echo ${{ secrets.DOCKERHUB_TOKEN }} | ./scripts/docker-push.sh
